.acceso_section {
  height: 100vh;
  background-image: url("../../../public/images/registro/Bears_fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
}

/*? CABECERA */
.acceso_header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #009080;
}
.acceso_header figure {
  display: flex;
  align-items: center;
}
.acceso_header img {width: 60px; height: auto;}
.acceso_header figcaption {
  margin-left: 15px;
  font-family: "Coco Gothic";
  font-size: 30px;
  font-weight: bold;
  color: #e9e3d5;
}

/*? ====================
/*?   Inicio de sesión 
/*? ====================*/
.acceso_container {
  font-family: "Nunito";
  position: absolute;
  top: 23%;
  right: 13%;
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0,0,0,0.8);
  width: 544px;
}

.acceso_container form {
  padding: 25px 30px 45px 30px;
  display: grid;
  gap: 20px;
}

/*? Registro (segundo paso)*/
.form_registro .name_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_registro .name_input input{
  width: 190px;
  display: grid;
}

.acceso_container h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}


/*? Mensaje ERROR input*/
.input_container.error_input label { color:red;}
.input_container.error_input input {border-color: red;}
.input_container.error_input p, .error_msg {  
  color: red;
  font-size: 17px;
  margin: 0;
}
.input_container.error_input input:focus {
  outline: none;
  box-shadow: none;
  border-color: red;
}
.input_container.error_input:focus-within label,
.input_container.error_input article:focus-within label { color: red;}

.submit_input.error_submit_input {
  filter: brightness(0.8);
  cursor: not-allowed;
}

/*? Input */
.input_container { display: grid;}
.input_container label {
  padding-left: 5px;
  padding-bottom: 3px;
  font-size: 20px;
  color: #737373;
}
.input_container input {
  font-family: "Nunito";
  border: 2px solid #c2c2c2;
  border-radius: 8px;
  height: 40px;
  width: 450px;
  transition: border-color 0.1s ease-in-out;
  padding: 3px 15px;
  font-size: 23px;
}
.input_container input::placeholder {color: rgb(165, 165, 165);}
.input_container input:focus {
  outline: none;
  box-shadow: none;
  border-color: #009080;
}
.input_container:focus-within label,
.input_container article:focus-within label { color: #009080;}

.acceso_container form div a {
  padding-left: 5px;
  padding-top: 3px;
  color: black;
  font-size: 17px;
}

/*? Submit */
.submit_input {
  cursor: pointer;
  font-family: "Nunito";
  background-color: #009080;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 28px;
  border-radius: 10px;
  transition: background-color 0.1s ease-in-out;
}
.submit_input:hover {background-color: #00907fd5;}

/*? Registrarse enlace */
.acceso_enlace_registro {
  display: grid;
  padding: 27px;
  padding-right: 0;
  gap: 5px;
  border-top: 2px solid lightgray;
  width: calc(100% - 27px);
}
.acceso_enlace_registro h2 { margin: 0; font-size: 25px;}
.acceso_enlace_registro a { 
  color: #1386fd; 
  font-size: 20px;
}

@media (max-width: 1300px) {
  .acceso_container {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .acceso_container { width: 440px;}
  .acceso_container h1 { font-size: 35px;}

  /*? Input */
  .input_container label { font-size: 19px; }

  .input_container input {
    width: calc(100% - 25px - 15px); /* 100% - padding form - padding input*/
    font-size: 21px;
  }
  .form_registro .name_input input{
    width: 140px;
  }
}