
/*? HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito";
  width: (100%-100px) ;
  padding: 20px 40px;
  background-color: #eddbc8;
  box-shadow: 0 0 5px rgba(65, 65, 65, 0.4);
}

.header .header_logo {
  width: 60px;
  height: auto;
}

.header nav a{
  filter: brightness(0.8);
  font-weight: 500;
  font-size: 21px;
  color: #737373;
  cursor: pointer;
  margin: 0 15px;
  padding: 0 5px;
  text-decoration: none;
  transition: border-bottom 0.1s ease-in-out;
}
.header nav a:last-child {margin-right: 0;}

.header nav a:hover {
  color: #0a7273;
  filter: none;
  margin-bottom: 0px;
  border-bottom: 4px solid #0a7273;
}

.main {
  background-color: #fafbfd;
  font-family: "Nunito";
  padding: 30px 7vw;
  padding-bottom: 130px;
}
.main h1, .main h2, .main h3, .main p {margin: 0;}

/*? VIVIENDAS IMÁGENES*/
.vivienda_imgs {
  position: relative;
  background-color: #fafbfd;
}

.vivienda_imgs img:not(.arrow_left, .arrow_right){
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 3px;
}

/*? CARRUSEL*/
.arrow_left, .arrow_right {
  cursor: pointer;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  background-color: white;
  opacity: 0.3;
}
.arrow_left {
  left: 15px;
  transform: translateY(-50%) rotate(180deg);
}
.arrow_right {
  right: 15px;
  transform: translateY(-50%);
}
.arrow_left:hover , .arrow_right:hover {
  opacity: 1;
  box-shadow: 0 0 10px rgba(65, 65, 65, 0.7);
}

/*? INFO VIVIENDA*/
.vivienda_info h1 {
  font-weight: 750;
}
.vivienda_info p {
  font-size: 20px;
}

/*? INFO ANFITRION*/
.user_img {
  width: 90px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.user_info {
  margin: 50px 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #dadada;
}
.user_article {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.user_info p {
  font-size: 19px;
  color: #737373;
}

.user_reservas {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*? PUNTUACIÓN*/
.user_score  {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #dfdb1838;
  border-radius: 30px;
  padding: 2px 7px;
  height: max-content;
}
.user_score h3 {
  color: #737373;
  font-weight: normal;
  font-size: 20px;
}

.user_score img {
  aspect-ratio: 1 / 1;
  width: 19px;
  margin-bottom: 2px;
}

/*? GUSTOS DEL ANFITRION*/
.user_likes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.user_likes img {
  width: 35px;
  aspect-ratio: 1 / 1;
}

.user_conectar {
  margin: 20px 0;
  display: flex;
  justify-content: start;
  gap: 50px;
}

.user_conectar button {
  cursor: pointer;
  font-family: "Nunito";
  border: none;
  background-color: #009080;
  color: white;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 23px;
}
.user_conectar button:hover {filter: brightness(0.85);}

/*? TITULO DE LAS SECCIONES (BIOGRAFIA, RECOMENDACIONES)*/
.user_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user_title2{
  border-top: 2px solid #dadada;
  padding-top: 30px;
}

.user_title img {
  width: 38px;
  aspect-ratio: 1 / 1;
}
.user_title2 img {margin-top: 2px;}
.user_title h1 {
  color: #0a7273;
  font-size: 32px;
  font-weight: 600;
}

/*? BIOGRAFIA DEL USUARIO*/
.user_descripcion { 
  margin: 0;
  margin-bottom: 20px;
}

.user_descripcion h2 {
  margin-top: 35px;
  font-size: 18px;
  color: #231f20;
}
.user_descripcion h2:first-of-type {
  margin-top: 15px;
}

.user_descripcion p, .user_descripcion ul, .user_recomendations p {
  margin: 0;
  font-size: 18px;
  color: #7e7e7e;
}

/*? RECOMENDACIONES*/
.user_recomendations {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(65, 65, 65, 0.25);
}
.user_recomendations p{ margin-bottom: 30px;}

.user_recomendations:nth-child(even) { background-color: rgb(230, 242, 250); }  
.user_recomendations:nth-child(odd) { background-color: rgb(250, 250, 230); }

.logos_recomendations {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logos_recomendations p{ 
  margin: 0;
  color: black;
  font-size: 17px;
}
  
.valoraciones {
  position: relative;
}

@media (min-width:771px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7vw;
  }
  .main .vivienda_imgs {
    grid-column-start: span 2;
    margin-bottom: 50px;
  }
  .columna_izquierda, .columna_derecha {
    display: grid;
    gap: 30px;  
  }
  .user_info { margin-top: 0;  }
  .columna_izquierda { grid-template-rows: auto auto 1fr; }
  .columna_derecha { grid-template-rows: auto auto 1fr; }
  
  /*? Imagenes de la vivienda*/
  .vivienda_imgs {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    margin: 0px auto;
    padding: 20px 0;
    gap: 7px;
  }
  .vivienda_imgs  img {max-width: 550px;}
}