
/*? HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito";
  width: (100%-100px) ;
  padding: 20px 40px;
  background-color: #eddbc8;
  box-shadow: 0 0 5px rgba(65, 65, 65, 0.4);
}

.header .header_logo {
  width: 60px;
  height: auto;
}

.header nav a{
  filter: brightness(0.8);
  font-weight: 500;
  font-size: 21px;
  color: #737373;
  cursor: pointer;
  margin: 0 15px;
  padding: 0 5px;
  text-decoration: none;
  transition: border-bottom 0.1s ease-in-out;
}
.header nav a:last-child {margin-right: 0;}

.header nav a:hover {
  color: #0a7273;
  filter: none;
  margin-bottom: 0px;
  border-bottom: 4px solid #0a7273;
}

/*? CARRUSEL*/
.arrow_left, .arrow_right {
  cursor: pointer;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(65, 65, 65, 0.7);
  opacity: 0.6;
}
.arrow_left {
  left: 40px;
  transform: translateY(-50%) rotate(180deg);
}
.arrow_right {
  right: 40px;
  transform: translateY(-50%);
}
.arrow_left:hover , .arrow_right:hover {
  opacity: 1;
}

/*? IMAGENES VIVIENDA*/
.vivienda_imgs {
  padding: 20px 30px;
  padding-bottom: 0;
  user-select: none;
  position: relative;
  background-color: #fafbfd;
}

.vivienda_imgs span {
  font-weight: 600;
  font-family: "Nunito";
  font-size: 17px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.582);
  padding: 5px 12px;
  position: absolute;
  top: 30px;
  left: 40px;
}
.vivienda_imgs img:not(.arrow_left, .arrow_right){
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 3px;
}

/*? INFO VIVIENDA*/
.vivienda_info h1 {
  font-weight: 750;
}
.vivienda_info p {
  font-size: 20px;
}

@media (min-width:771px) {
  /*? Imagenes de la vivienda*/
  .vivienda_imgs {
     width: calc(100% - 60px);
     display: grid;
     grid-template-columns: auto auto;
     grid-template-rows: 1fr 1fr;
     justify-content: center;
     margin: 0px auto;
     padding: 20px 30px;
     gap: 7px;
   }
   .vivienda_imgs  img {max-width: 500px;}
   .vivienda_imgs img:hover { filter: brightness(0.7);}
 }

@media (min-width:1251px) {
  .vivienda_imgs {
    grid-column-start: span 2;
    padding-bottom: 30px;
  }

  .vivienda_info {margin-bottom: 30px;}
  .vivienda_info h1 {font-size: 26px;}
  .vivienda_info p {font-size: 22px;}
}