/*?==============================
/*? PERFILES DE LOS VIAJEROS
/*?==============================*/
.card_users {
  padding: 40px 50px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
.card_users div {
  z-index: 0;
}


@media (max-width: 770px) {
  .card_users {
    padding-bottom: 150px;
  }
}