/*?==============================
/*? PERFILES DE LOS VIAJEROS
/*?==============================*/
.card_users_container {
  min-height: 100vh;
  user-select: none;
}

.card_users {
  padding: 50px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
.card_users div {
  z-index: 0;
}


.not_found {
  transform: translateY(50px);
  text-align: center;
  font-family: "Nunito";
  font-size: 45px;
}

@media (max-width: 770px) {
  .card_users {
    padding-bottom: 150px;
  }
}