/*? ==================
/*?      HEADER
/*? ===================*/
.header {
  height: 65px;
  user-select: none;
  width: 100%;
  font-family: "Nunito";
  background-color: #ebd9c3;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  padding: 15px 0;
  z-index: 999;
}

.search_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.search_nav img {
  aspect-ratio: 1 / 1; 
  filter: grayscale(100%) brightness(170%); /* Escala de grises y ajuste de brillo */
  cursor: pointer;
}
.search_nav div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #979797;
  font-size: 20px;
  font-weight: 600;

}
.search_nav div img {aspect-ratio: 1 / 1; width: 35px;}
.search_nav div:nth-of-type(2) img{width: 40px;}

.active_section span{
  color: #0a7273;
}
.active_section, .active_section img {
  filter: none !important; /* Forzar la eliminación del filtro */
}


/*? ==================
/*?      BUSCADOR
/*? ===================*/
.search_form_container {
  user-select: none;
  background-color: #ebd9c3;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
  gap: 20px;
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex:1;
  padding: 10px 10px;
  border: 2px solid #0a7273;
  border-radius: 60px;
  background-color: white;
}
.search_form img {
  width: 35px;
  aspect-ratio: 1 / 1;
}
.search_form div:nth-of-type(2) img{ padding-left: 10px;}
.search_form:focus-within {box-shadow: 0 0 5px rgba(0, 144, 128, 0.5);}

.search_form div:nth-of-type(1){ border-right: 2px solid #0a7273;}
.search_form div {
  flex:1;
  display: flex;
  align-items: center;
}
.searcher {
  color: rgb(46, 46, 46);

  font-family: "Nunito";
  padding-right: 10px;
  caret-color: #009080; /* Cambia el color del cursor (caret) */
  width: 100%;
  background-color: transparent;
  font-size: 22px;
  font-weight: 600;
  border: none;
  outline: none;
}
.searcher::placeholder{ color: rgb(177, 177, 177); font-weight: 400;}

.filters {
  cursor: pointer;
  width: 30px;
  aspect-ratio: 1 / 1;
  background-color: #0a7273;
  padding: 10px 15px;
  border-radius: 10px;
}
