.soporteMain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vh 0;
  margin: 0 auto;
  background-color: #f5f7fa;
  font-family: "Nunito";
}

.soporteForm {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.soporteForm h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.soporteForm label {
  display: block;
  margin: 10px 0 5px 5px;
  font-weight: 600;
  color: #555;
}

.soporteForm input, .soporteForm textarea {
  font-family: "Nunito";
  width: calc(100% - 30px);
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #888888;
  border-radius: 8px;
  font-size: 1rem;
}

.soporteForm textarea {
  resize: vertical; 
  min-height: 100px;
}
.soporteForm input:focus, .soporteForm textarea:focus {
  outline: none;
  outline: 1px solid #009080;
  border-color: #009080;
  box-shadow: 4px 4px #009080;
  resize: vertical; 
}
.soporteForm button {
  font-family: "Nunito";
  width: 100%;
  padding: 10px;
  background-color: #009080;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.soporteForm button:hover {
  filter: brightness(0.8);
}
