.container {
  font-family: "Nunito";
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.loading_gif {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.card {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.card h3 {
  color: red;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  background-color: rgba(255, 0, 0, 0.233);
}
.title { 
  margin-bottom: 20px;
  font-size: 26px;
}
.title span {text-transform: uppercase;}

.form_flex {
  display: flex;
  justify-content: space-between;

}
.form_flex input {width: 242px;}

.form_Group {
  margin-bottom: 15px;
  text-align: left;
}
.form_Group input {
  font-size: 22px;
  font-family: "Nunito";
  border: 1px solid gray;
  background-color: rgba(238, 238, 238, 0.644);
}
.form_Group input::placeholder {font-weight: 300; font-style: italic;}
.form_Group input:focus{ outline: 2px solid #0a7273;}

.form_Label {
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.form_Control {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save {
  cursor: pointer;
  background-color: #0a7273;
  padding: 12px 10px;
  width: 150px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  margin-right: 10px;
}
.save:hover { filter: brightness(0.8);}

.danger:hover {
  background-color: red;
  color: white;
}
.danger {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  font-size: 25px;
  color: red;
  border: 2px solid red;
  background-color: white;
} 

.btn_Container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

/*? Input tipo archivo*/
.form_File img {
  margin-top: 20px;
  width: 200px;
  height: auto;
  border-radius: 3px;
}
.form_File input[type="file"] {
  position: relative;
  cursor: pointer;
  width: 450px;
  border-radius: 5px;
  font-size: 18px;
}

.form_File input[type="file"]::-webkit-file-upload-button {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  background-color: #4563d1; 
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 15px;
}
.form_File input[type="file"]::-webkit-file-upload-button:hover { background-color: #5873d3;}


@media (max-width:650px){
  .container { max-width: 450px;}
    
  .form_flex {
    flex-direction: column;
    width: 100%;
  }
  .container input {width: calc(100% - 20px);}

  .form_File input[type="file"] { width: calc(100% - 20px);}
}