.header {
  padding: 22px;
  background-color: rgb(32, 32, 32);
  font-family: "Nunito";
}

.header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.header nav a{
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color:gray;
  padding: 4px;
  font-weight: 600;
  letter-spacing: 2px;
}
.header nav a:hover:not(.active){ 
  color: rgb(32, 32, 32);
  background-color: rgb(112, 112, 112);
  outline: 10px solid rgb(112, 112, 112);
  outline-offset: -1px; 
  border-radius: 25px;
}
.header nav .active { 
  color: white;
}