/*? ==================
/*?      HEADER
/*? ===================*/
.header{
  z-index: 1;
  user-select: none;
  font-family: "Nunito";
  width: (100%-100px) ;
  padding: 25px 50px;
  background-color: #eddbc8;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/*? LOGO*/
.header_logo img {
  width: 60px;
  height: auto;
  aspect-ratio: 1 / 1;
}

.header_logo {
  user-select: none;
  width:max-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: start;
  gap: 15px;
}

.header_logo h1{
  color: #009080;
  font-weight: 800;
  margin: 0;
  font-size: 25px;
  line-height: 22px;
}

.header_logo h2{
  color: #3c302a;
  font-family: "Chewy";
  margin: 0px;
  font-size: 17px;
}

/*? BUSCADOR MENU*/
.search_container {
  position: absolute;
  left: calc(50% + 33px);
  transform:translateX(-50%);
}

.search_nav {
  user-select: none;
  margin: 10px 0;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  gap: 45px;
}

.search_nav a {
  text-align: center;
  width: max-content;
  color: #737373;
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;
  margin-bottom: 4px;
  transition: border-bottom 0.1s ease-in-out;
}
.search_nav a:nth-child(1){  text-align: end;}
.search_nav a:nth-child(3){  text-align: start;}

.search_nav .active_section {
  color: #0a7273;
  font-weight: 750;
}
.search_nav a:not(.active_section):hover {
  color: #0a7273;
  margin-bottom: 0px;
  border-bottom: 4px solid #0a7273;
}

/*? PARTE DEL USUARIO*/
.user_section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.conectado_container {
  position: relative;
  display: flex;
}
.conectado {
  cursor: pointer;
  width: 35px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.conectado:hover{
  filter: brightness(0.85);
  background-color: rgb(220, 255, 233);
  outline: 10px solid rgb(220, 255, 233);
  outline-offset: -1px;
}
.header_user_section { 
  position: relative;}

.header_prof_user {
  cursor: pointer;
  user-select: none;
  background-color: #0a7273;
  border: 2px solid #0a7273;
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 4px 15px;
  gap: 10px; 
}
.header_prof_user article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header_prof_user article div{
  background-color: white;
  height: 2px;
  width: 35px;
  transition: all .4s;
  transform-origin: left;
  border-radius: 5px;
}
.header_prof_user.open article div:first-child { transform: rotate(45deg); }
.header_prof_user.open article div:nth-child(2) { opacity: 0; }
.header_prof_user.open article div:last-child { transform: rotate(-45deg); }
.header_prof_user:hover { 
  filter: brightness(0.8); 
}

.header_prof_user img { 
  aspect-ratio: 1 / 1;
  filter: brightness(0) invert(1);
  width: 45px;
}

.user_search_form {
  height: 35px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #757575;
  border-radius: 15px;
}
.user_search_form span{
  margin-left: 3px;
  font-size: 25px;
  color: #858585;
}
.user_search_form:focus-within { border-color: #0a7273;}
.user_search_form:focus-within img { border-color: #053435;}
.user_search_form:focus-within span{ color: #272727;}

.user_search_form img {
  filter: brightness(1.5);
  width: 35px;
  padding-right: 2px;
  border-right: 2px solid rgb(107, 107, 107);
}

.user_search {
  width: 110px;
  color:#272727;
  caret-color: #0a7273; 
  font-family: "Nunito";  
  border: none;
  font-size: 20px;
  font-weight: 500;
}
.user_search::placeholder{ color: rgb(177, 177, 177);}
.user_search:focus { outline: none;}
