/*? PUNTUACIÓN*/
.user_score {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user_score div {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #dfdb1838;
  border-radius: 30px;
  padding: 3px 10px;
  height: max-content;
}
.user_score h3 {
  margin: 0;
  color: rgb(58, 58, 58);
  font-weight: normal;
  font-size: 23px;
}
.user_score p {
  margin: 0;
  font-size: 18px;
  color: #737373;
}
.user_score img {
  aspect-ratio: 1 / 1;
  width: 20px;
  margin-bottom: 3px;
}


@media (min-width: 781px) {
  .user_score.mi_cuenta h3 { font-size: 27px;}
  .user_score.mi_cuenta img { width: 25px;}
  .user_score.mi_cuenta p { font-size: 19px;}
}