.valoraciones_main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0 30px;
}
/*? CONTAINER*/
.valoraciones_container {
  user-select: none;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  align-items: center;
  padding: 30px 0px;
}
.valoraciones_container_show {
  border-bottom: 2px solid lightgray;
  margin-bottom: 35px;
}
.valoraciones_container h2, .valoraciones_container p {margin: 0;}

/*? INFORMACIÓN GENERAL DE LA PUNTUACIÓN*/
.valoraciones_info {
  display: grid;
  gap: 15px;
}
.valoraciones_info h2 {
  color: #0a7273;
  font-size: 22px;
}
/*? ESTADISTICAS GENERALES DE LA PUNTUACIÓN*/
.valoraciones_statistics p {
  color: rgb(71, 71, 71);
  font-size: 18px;
}

.valoraciones_statistics div{
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.valoraciones_statistics span {
  user-select: none;
  position: absolute;
  background-color: #0a7273;
  border-radius: 5px;
  color: white;
  padding: 8px 12px;
  right: calc(100% + 20px); 
  top: 50%;
  width: fit-content;
  transform: translateY(-50%);
  z-index: 99;
  white-space: nowrap;
}
.valoraciones_statistics span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px; 
  transform: translateY(-50%);
  border-width: 8px 14px; 
  border-style: solid;
  border-color: transparent transparent transparent #0a7273;
}

.valoraciones_statistics progress {
  width: 100px; 
  height: 13px; 
  appearance: none;
}
.valoraciones_statistics progress::-webkit-progress-bar {
  background-color: #dbdbdb; 
  border-radius: 10px;
}
.valoraciones_statistics progress::-webkit-progress-value {
  background-color: #ffbd59; 
  border-radius: 10px;
}
.valoraciones_statistics progress::-moz-progress-bar {
  background-color: #ffbd59; 
  border-radius: 10px;
}


/*? COMENTARIOS DE LOS USUARIOS*/
.comentarios_section {
  padding-bottom: 30px;
  display: grid;
  gap: 30px;
  width: 100%;
}

body:has(.dialog_container[open]) {
  overflow: hidden;
  pointer-events: none;
}

.cerra_menu {
  user-select: none;
  width: 40px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(255, 5, 5, 0.15);
}
.cerra_menu:hover {
  filter: brightness(0.9);
  background-color: rgba(255, 5, 5, 0.304);
}
.dialog_container:focus, .dialog_main:focus {outline: none;}
.dialog_container h1 {
  user-select: none;
  margin: 0;
  padding-bottom: 20px;
  font-size: 22px;
  text-align: center;
  color: #0a7273;
  border-bottom: 2px solid lightgray;
 
}
.dialog_container {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 0;
  pointer-events: all;
  outline: none;
  border: none;
  height: 80vh;

  width: 80vw;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dialog_main {
  margin-top: 20px;
  display: grid;
  gap: 35px;
  max-height: calc(78vh - 61px - 30px);
  overflow-y: auto;
  padding-right: 30px;
}
.dialog_main::-webkit-scrollbar { width: 15px;}
.dialog_main::-webkit-scrollbar-button { padding: 5px;}
.dialog_main::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 15px;
}
.dialog_main::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}


.dialog_container::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.show_size {
  user-select: none;
  text-align: center;
  font-size: 30px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.show_size p {  
  margin: 10px 0;
  cursor: pointer;
  color: black;
  text-decoration: underline;
}
.show_size p:hover { color: #009080}

@media (min-width: 781px) and (max-width: 1299px), (min-width: 1300px) {
 .valoraciones_container { 
  display: flex;
  justify-content: start;
  gap: 100px;
  padding: 35px 0px;
}
 .valoraciones_info h2 {font-size: 32px;}
 .valoraciones_statistics p { font-size: 21px;}

 .valoraciones_statistics progress {
    width: 130px; 
    height: 15px; 
  }
  .valoraciones_statistics span { font-size: 17px;}

  /*? COMENTARIOS DE USUARIOS*/
  .cerra_menu { width: 45px;}

  .dialog_container {
    padding: 30px;
    width: 700px;
  }
  .dialog_container h1 { 
    font-size: 29px;
  }
  .comentarios_section {
    padding-bottom: 35px;
  }
  .show_more {
    padding-bottom: 0px;
    padding-right: 15px;
  }

  .show_size {
    font-size: 30px;
  }
}

@media (min-width: 1251px) and (max-width: 1600px) {
  .valoraciones_container { 
    gap: 60px;
  }
}
.valoraciones_statistics_cuenta {
  justify-content: space-evenly;
}