.valoraciones_main{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(65, 65, 65, 0.3);
  padding: 0 30px;
}
/*? CONTAINER*/
.valoraciones_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.valoraciones_container h2, .valoraciones_container p {margin: 0;}

/*? INFORMACIÓN GENERAL DE LA PUNTUACIÓN*/
.valoraciones_info {
  display: grid;
  gap: 15px;
}
.valoraciones_info h2 {color: #0a7273;}
/*? ESTADISTICAS GENERALES DE LA PUNTUACIÓN*/
.valoraciones_statistics p {
  color: rgb(71, 71, 71);
  font-size: 18px;
}

.valoraciones_statistics div{
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.valoraciones_statistics span {
  user-select: none;
  position: absolute;
  background-color: #0a7273;
  border-radius: 5px;
  color: white;
  padding: 8px 12px;
  right: calc(100% + 20px); 
  top: 50%;
  width: fit-content;
  transform: translateY(-50%);
  z-index: 99;
  white-space: nowrap;
}
.valoraciones_statistics span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px; 
  transform: translateY(-50%);
  border-width: 8px 14px; 
  border-style: solid;
  border-color: transparent transparent transparent #0a7273;
}

.valoraciones_statistics progress {
  width: 100px; 
  height: 13px; 
  appearance: none;
}
.valoraciones_statistics progress::-webkit-progress-bar {
  background-color: #dbdbdb; 
  border-radius: 10px;
}
.valoraciones_statistics progress::-webkit-progress-value {
  background-color: #ffbd59; 
  border-radius: 10px;
}
.valoraciones_statistics progress::-moz-progress-bar {
  background-color: #ffbd59; 
  border-radius: 10px;
}


/*? COMENTARIOS DE LOS USUARIOS*/
.comentarios_section {
  border-top: 2px solid lightgray;
  padding: 30px 0;
  display: grid;
  gap: 50px;
  width: fit-content;
}

@media (min-width: 781px) and (max-width: 1299px), (min-width: 1300px) {
 .valoraciones_container { padding: 35px 0;}
 .valoraciones_info h2 {font-size: 33px;}
 .valoraciones_statistics p { font-size: 21px;}

 .valoraciones_statistics progress {
    width: 130px; 
    height: 15px; 
  }
  .valoraciones_statistics span { font-size: 17px;}

  /*? COMENTARIOS DE USUARIOS*/
  .comentarios_section {
    padding: 35px 0;
  }
}