/*?==============================
/*? PERFILES DE LOS VIAJEROS
/*?==============================*/
.card_users {
  padding: 40px 40px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;
  margin-bottom: 70px;
}
.card_users div { z-index: 0;}


.not_found {
  width: 100%;
  transform: translateY(50px);
  text-align: center;
  font-family: "Nunito";
  font-size: 45px;
}


.ver_mas {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ver_mas button {
  padding: 7px 0;
  font-family: "Nunito";
  font-size: 25px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
  color: black;
  font-weight: 700;
  cursor: pointer;
  margin: 0px auto;
  margin-top: 30px;
  width: 200px;
  transition: all 0.1s ease-in-out;
}

.ver_mas button:hover {
  background-color: #ffd6a9e1;
  border-color: #967048e1;
}

@media (max-width: 770px) {
  .card_users {
    padding: 40px 40px;
    padding-bottom: 150px;
  }
}