
body {
  margin: 0 auto;
  background-color: #dfdfdf;
}

/*? ==================
/*?      HEADER
/*? ===================*/
header {
  backdrop-filter: blur(8px);
  width: calc(100% - 100px);
  position: absolute;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo  {
  width: 60px;
  height: auto;
}
.header_logo {
  font-family: "Coco Gothic";
  letter-spacing: 1px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 600;
  color: #009080;
  gap: 1vw;
  cursor: default;
}

.header_menu {
  font-family: "Nunito";
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

header a {text-decoration: none;}

/*? Texto central */
#menu_icon img{
  width: 50px;
}
#menu_icon {
  cursor: pointer;
  padding: 7px 10px;
}
#menu_icon:hover{
  background-color: rgb(175, 175, 175, .4);
  
  border-radius: 20%;
}

#header_nav {
  display: block;
  color: #3c302a;
  font-size: 25px;
  font-weight: 600;  
}

#header_nav a {margin-left: 35px;}
#header_nav a:hover {
  transition: 0.1s;
  color: #009080;
  border-bottom: 4px solid #009080;
  cursor: pointer;
}

/*? Acceso cliente*/
.header_user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50px;
  transition: transform 0.3s;
  background-color: #009080;
}

.header_user a {
  color: #f0f0f0;
  font-size: 1.4em;
  font-weight: 800;
}

.header_user img { width: 3em;}
.header_user:hover{
  transition:  0.3s;
  background-color: rgba(0, 174, 157, 0.8);
}







/*?=============================
/*?    PARTE INICIAL DEL LOGO
/*?===========================*/
.main_container {
  padding: 0 50px;
  padding-bottom: 100px;
  padding-top: 200px;  
  background-image: url("../../../public/images/landing_page/header_back.webp");
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}


#logo_main {
  flex: 1;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}
#logo_main img {
  width: 200px;
  height: auto;
  margin: 20px auto;
}

#logo_main figcaption {
  font-family: "Coco Gothic";
  color: #009080;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

.main_descrpt {
  margin-top: 20px;
  font-family: "Nunito";
  color: #3c302a;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}






/*?==================================
/*? CARDS SECTIONS
/*?================================*/
.card_section {
  padding: 5.2vw 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.anf_card { background-color: #c6e2ce;}
.inq_card {background-color: #e9e3d5;}


.button_container {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 15px;
}
.button_container h2 {
  text-align: center;
  font-family: "Chewy";
  font-size: 40px;
}

.anf_card h2 {color: #0a7273;}
.inq_card h2 {color: #3c302a;}
#btn_alojamientos {
  color: #f6f7f8;
  background-color: #0a7273;
}

#btn_inquilinos {
  color: #f6f7f8;
  background-color: #3c302a;
}

/*?==================================
/*? BOTONES ANFITRIONES O INQUILINOS
/*?================================*/
#btn_alojamientos, #btn_inquilinos {
  margin: 0 auto;
  font-family: "Nunito";
  font-weight: 800;
  font-size: clamp(30px, 2vw, 2vw);
  border: 0;
  border-radius: 40px;
  padding: 1.3vw;
  display: block;
  width: 20vw;
  cursor: pointer;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  transition: 0.2s;
}

#btn_alojamientos p, #btn_inquilinos p {
  margin: 0;
}

#btn_alojamientos:hover{
  transition: 0.2s;
  background-color: #23898a;
  box-shadow: 0 0 13px #23898a;
}

#btn_inquilinos:hover {
  transition: 0.2s;
  background-color: #5f4a40;
  box-shadow: 0 0 13px #5f4a40;

}





/*?=============================
/*?       GENERAL CARDS
/*?===========================*/
/*? SECCIONES GENERALES*/
.general_prof {
  flex: 1; 
  position: relative; /* Contenedor padre */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-family: "Nunito";
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
 
  display: flexbox;
  cursor:default;
}

.general_prof:hover{
  box-shadow: 0 0 4px 5px rgba(155, 155, 155, 1);
}

.btn_conectar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Nunito";
  font-weight: 800;
  background-color: white;
  color: #009080;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn_conectar:hover{
  background-color: #009080;
  color: white;
}


/*?=============================
/*?        ANFITRION
/*?===========================*/
.house {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}



/*? PERFIL, NOMBRE Y GUSTOS*/
.personal_info {
  align-items: end;
  display: flex;
  padding: 0;
}

.anf_personal_info {
  position: absolute;
}

.profile_img {
  background-color: white;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.anf_name {
  flex-grow: 1;
  text-align: center;
  white-space: nowrap;       
  overflow: hidden;          
}
.anf_name h3, .text_column_viaj h3 {
  font-weight: 700;
  margin: 0;
}


/*? Puntuación y gustos*/
.score {
  display: flex;
  align-items: center;
  gap: 5px;
}

.anf_score p {
  color: black;
  margin: 0;
}

.anf_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anf_likes {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.anf_likes img {
  height: auto;
}

/*? UBICACION Y DESCRIPCIÓN*/
.address {
  display: flex;
  align-items: end;
  font-style: normal;
  line-height: 1;
}

.description {
  text-align: justify;
  color: #737373;
}


/*?=============================
/*?        VIAJEROS
/*?===========================*/
/*?FOTO E INFO*/
.text_column_viaj p {
  margin: 0;
  font-family: "Nunito";
  color: #262626;
  font-weight: 400;
}

.text_column_viaj {
  flex: 1;
  text-align: end;
}

.score_viajero {
  justify-content: end;
}

.score_viajero p {
  font-style: italic;
  font-family: "Nunito";
  line-height: 0;
}

/*? EDAD Y DESCRIPCIÓN*/
.age_descript_viaj {
  font-family: "Nunito";
}
.age {
  color: #262626;
  margin: 0;
}

/*? GUSTOS*/
.viaj_likes {
  display: flex;
  justify-content: space-around;
}

/*? CONECTAR */
.btn_viaj {
  display: flex;
  justify-content: center;
}


/*?=============================
/*?        VENTAJAS
/*?===========================*/
.advantages {
  position: relative;
  background-color: #c6e2ce;
  font-family: "Nunito";
  padding: 100px 0;
}

.advantages h2 {color: #0a7273;}
.advantages h2, .opinions h2, .freq_questions h2 {
  margin-top: 0;
  margin-bottom: 3vw;
  font-family: "Chewy";
  font-weight:800;
  text-align: center;
  font-size: 3vw;
}

.advantages_container {
  display:grid;
  grid-template-columns: repeat(2, auto); 
  grid-template-rows: repeat(3, auto); 
  column-gap: 5vw;
  row-gap: 2vw;
  margin: 0 15vw;
}

.advantage_item img { 
  width: 4vw;
  padding: 0px 1.3vw;
}

.advantage_item {
  cursor: default;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}
.advantage_item:hover {
  box-shadow: 0 0 10px 5px rgba(0,0,0,.30);
}
.advantage_text h3 {
  color: #0a7273;
  margin: 0.26vw 0 0.26vw 0;
  font-size: 1.3vw;
}

.advantage_text p {
  text-align: justify;
  color: #a6a6a6;
  margin: 0;
  font-size: 1.2vw;
}

.advantage_text {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}


/*?=============================
/*?        OPINIONES
/*?===========================*/
.opinions h2 {color: #3c302a;}
.opinions {
  background-color: #e9e3d5;
  font-family: "Nunito";
  padding: 100px 5vw 100px 5vw ;
}

/*? Burbuja*/
.opinions_container {
  display: flex;
  gap: 5vw;
  margin-top: 7vw;
}

.bubble_text {
  position: relative;
  background-color: #fff;
  padding: 1vw;
  color: #222;
  border-radius: 15px;
}

.bubble_text:after {
  content: "";
	display: block;
	position: absolute;
	bottom: -3.5vw;
	left: 2.2vw;
	width: 0;
	height: 0;
  border-left: 0.8vw solid transparent;
	border-right: 4vw solid transparent;
  border-top: 3.8vw solid #fff;
}

.bubble_text p {
  margin-top: 0.52vw;
  margin-bottom: 1.31vw;
  color: #737373;
  font-size: 1.1vw;
}

/*? Texto opinion*/
.prof_opinion img {width: 6vw; height: 6vw;}

.prof_opinion {
  display: flex;
  align-items: center;
}

/*? Informacion de la persona*/
.info_opinion {
  flex: 1;
  margin-left: 1vw;
}

.info_opinion h3{
  color: #3c302a;
  margin: 0px;
  padding-bottom: 7px;
  border-bottom: 4px solid #3c302a;
  font-size: 1.2vw;
  font-weight: 700;
}

.info_opinion p{
  margin-bottom: 0px;
  margin-top: 7px;
  color: #262626;
  font-size: 1.2vw;
}



/*?=============================
/*?        FAQs
/*?===========================*/
.freq_questions {
  background-color: #f0f0f0;
  font-family: "Nunito";
  padding: 100px 5vw 100px 5vw ;
}

.question_item {
  cursor: pointer;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  margin-bottom: 30px;
}

.question_item:hover {
  border: 2px solid #0a7273;
}
.question_title {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question_title img{
  width: 50px;
  height: 50px;
}

.freq_questions button{
  cursor: pointer;
  display: block;
  font-family: "Nunito";
  background-color: #0a7273;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.freq_questions button:hover {
  transition: 0.2s;
  background-color: #23898a;
  box-shadow: 0 0 10px #23898a;
}

.question_content p{margin-top: 0;}
/*?=============================
/*?        FOOTER
/*?===========================*/
footer {
  background-color: #0a7273;
  padding: 1.6vw 0px;
  font-family: "Nunito";
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 1px rgb(184, 180, 178);
}

/*? Logo*/
#logo_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 3vw;
}

#logo_footer img {width: 5vw; height: auto;}
#logo_footer figcaption {
  margin-left: 0.7vw;
  font-family: "Coco Gothic";
  letter-spacing: 1px;
  font-weight: bold;
  color: #e9e3d5;
  font-size: 2vw;
}

/*? Informacion de contacto*/
.contact-info {font-size: 1vw; text-align: center;}
#text-info {
  display: inline-flex;
  gap: 2vw;
  color: white;
}
#text-info p { font-weight: 500;}

.social-media img {
  width: 2.1vw;
  cursor: pointer;
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

/*? Politicias de privacidad*/
.privacy-policy a {
  color: white;
  font-size: 1.4vw;
  margin-right: 3vw;
  text-decoration: none;
}

.privacy-policy a:hover{
  text-decoration: underline;
}









/*? =============
/*?   RESPONSIVE
/*? =============*/
/**============================
/**      MOVILES
/**============================*/
/*GRID OPINIONES 1000px max*/
@media (max-width:999px){
  .card_section {
    padding: 100px 38px;
    display: grid;
    grid-template-rows: auto auto; /* Define al menos dos filas explícitas */
    gap: 0;
  }
  .inq_card .button_container { grid-row: 1;}
  .inq_card.card_container { grid-row: 2;}

  /*?* OPINIONES*/
  .opinions_container {
    display: grid;
    margin: 0 7vw;
    gap: 9vw;
  }
  .bubble_text {padding: 3vw;}
  .bubble_text p {font-size: 2.4vw;}
  .prof_opinion img{width: 11vw; height: 11vw;}
  .info_opinion h3, .info_opinion p{ font-size: 3vw;}

  /**FAQ*/
  .freq_questions button{
    font-size: 20px;
    padding: 20px 25px;
  }
}

@media (max-width: 769px) {
  /*?* CABECERA */
  header {
    gap: 15px;
    justify-content: space-between;
  }
  .header_menu {
    width: 100%;
    justify-content: end;
  }
  .header_user {
    display: none;
  }
  #header_nav {display: none;}
  
  /*?* BOTONES*/
  #btn_alojamientos img, #btn_inquilinos img{
    width: 40px;
    height: auto;
  }

  #btn_alojamientos, #btn_inquilinos {
    padding: 15px;
    font-size: 30px;
    width: 270px;
  }

  /*?* LOGO INICIAL*/
  #logo_main img {width: 120px;}
  #logo_main figcaption {
    font-size: 65px;
  }
  .main_descrpt, .button_container h2 {
    font-size: 40px;
  }

  .button_container h2 {margin: 0 0 10px 0;}
  .button_container {
    margin-bottom: 10%;
  }
  

  /*?* CARDS general */
  .prof_1 { grid-row: 1; }
  .prof_2 { grid-row: 3; }
  .prof_3 { grid-row: 2; }
  .prof_4 { grid-row: 4; }
  
  .general_prof {
    max-width: 300px;
    margin: 0 auto;
  }
  .btn_conectar {
    border-radius: 6px;
    border: 2px solid #009080;
    font-size: 17px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  /*?* CARD (ANFITRIÓN) */
  .anf_info { padding: 0px 15px; }
  .house { height: 130px; }
  .profile_img {
    margin-left: 5px;
    padding: 2px;
    width: 90px;
  }

  .anf_personal_info {
    transform: translateY(-40px);
    width: calc(100% - 10px);
  }
  .anf_name {
    border-bottom: 1px solid #d0dbd9;
    margin: 0 15px;
    margin-bottom: 10px;
  }
  .anf_name h3, .text_column_viaj h3 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
  }

  .anf_rating {
    margin: 0px 5px 6px 5px;
    padding-top: 65px;
    gap: 8%;
  }
  .anf_likes img { width: 25px; }

  .address img { width: 15px; }
  .address {
    margin-top: 15px;
    font-size: 16px;
    gap: 6px;
  }
  .description {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  .score img, .score_viajero img { width: 25px; }
  .anf_score p { font-size: 24px; }

  /*?* CARD (VIAJEROS)*/
  .viaj_prof { padding: 10px 15px; }
  .viaj_img {
    width: 90px;
    height: 90px;
  }
  .text_column_viaj p, .score_viajero p { font-size: 20px; }
  .text_column_viaj { margin: 8px 8px 8px 20px; }
  .age {
    margin-top: 8px;
    font-size: 16px;
  }

  .viaj_likes { margin: 15px 20px 15px 20px; }
  .viaj_likes img { width: 30px; }
  .btn_viaj { margin-bottom: 8px; }

  /*?* VENTAJAS */
  .advantages h2, .opinions h2, .freq_questions h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .advantage_text h3 {font-size: 15px;}
  .advantage_text p {font-size: 14px;}
  .advantage_item img { 
    width: 40px;
    padding: 0px 10px;
  }
  .advantages_container {
    grid-template-columns: 400px; 
    justify-content: center;
    align-items: center;
    gap: 20px;
  }


  /**FAQ*/
  .question_item {max-width: 510px;}


  /*?*FOOTER*/  
  footer {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
  }

  #logo_footer img{
    width: 50px;
  }
  #logo_footer figcaption{
    font-size: 20px;
  }

  .social-media img{
    width: 20px;
    height: 20px;
  }
  #text-info p { font-size: 13px;}

  .privacy-policy {text-align: center;}
  .privacy-policy a{ font-size: 20px; }
}



/**============================
/**      TABLET
/**============================*/
@media (min-width:770px){
  /*?* BOTONES */
  .button_container {
    border-radius: 15px;
    margin-bottom: 10%;
  }

  #btn_alojamientos img, #btn_inquilinos img{
    width: 40px;
    height: auto;
  }
  #btn_alojamientos, #btn_inquilinos {
    width: 300px;
  
    font-size: 35px;
    padding: 17px;
    margin-bottom: 5px;
    gap: 15px;
  }
    
  /*?* CARDS general */
  .general_prof {max-width: 380px;} 
  .btn_conectar {
    border-radius: 6px;
    border: 2px solid #009080;
    font-size: 20px; 
    padding: 13px 20px;
    margin-bottom: 10px;
  }

  .button_container {
    gap: 0;
  }

  /*?* CARD (ANFITRIÓN) */
  .anf_info { padding: 0px 22px; }
  .house {height: 160px;} 
  .profile_img {
    margin-left: 10px;
    padding: 5px;
    width: 110px; 
  }


  .anf_name {
    border-bottom: 1px solid #d0dbd9;
    margin: 0 20px;
    margin-bottom: 10px;
  }
  .anf_name h3, .text_column_viaj h3 {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
  }

  .anf_rating {
    margin: 0px 11.5px 15px 11.5px; 
    padding-top: 80px;
    gap: 15%;
  }
  .anf_likes img { width: 30px; } 

  .address img { width: 18px; } 
  .address {
    margin-top: 15px;
    font-size: 20px; 
    gap: 6px;
  }
  .description {
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 12px;
  }
  .score img, .score_viajero img {width: 30px;} 
  .anf_score p {font-size: 28px;} 

    
  /*?* CARD (VIAJEROS)*/
  .viaj_prof { padding: 10px 20px;} 
  .viaj_img {
    width: 110px; 
    height: 110px;
  }
  .text_column_viaj p, .score_viajero p { font-size: 28px;} 
  .text_column_viaj { margin: 5px 5px 5px 30px;} 
  .age {
    margin-top: 8px;
    font-size: 20px; 
  }
  
  .viaj_likes { margin: 20px 30px 20px 30px; } 
  .viaj_likes img { width: 40px; } 
  .btn_viaj { margin-bottom: 8px; } 
}

@media (min-width: 770px) and (max-width: 999px) {
  /*?* CABECERA */
  #header_nav {display: none;}

  /*?* LOGO INICIAL */
  #logo_main img {
    width: 180px;
  }

  /*?* CARDS general */
  .button_container h2 {
    font-size: 45px;
    margin-top: 0;
  }

  .anf_personal_info { 
    transform: translateY(-50px);
    width: calc(100% - 25px); 
  }

  /*?* VENTAJAS */
  .advantages h2, .opinions h2, .freq_questions h2 {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .advantages_container {margin: 0 5vw;}
  .advantage_text h3 {font-size: 1.7vw;}
  .advantage_text p {font-size: 1.5vw;}

  /*?* OPINIONES*/
  .bubble_text {margin: 0 9vw;}
  .bubble_text p {font-size: 18px;}
  .prof_opinion img{width: 90px; height: 90px;}
  .info_opinion h3, .info_opinion p{ font-size: 20px;}

  /**FAQ*/
  .question_item h3 {font-size: 21px;}
  .question_item {max-width: 650px;}
  .question_content p{font-size: 16px;}

  
  /*?*FOOTER*/
  #text-info p { font-size: 1.4vw;}
  .privacy-policy a{ font-size: 1.5vw; }
}



/**============================
/**      ORDENADOR
/**============================*/
@media (min-width: 1000px) {
  #menu_icon {display: none;}

  /*?* LOGO INICIAL*/
  #container_logo { font-size: clamp(25px, 1.5vw, 1.5vw);}

  /** CARDS*/
  .button_container {
    margin-bottom: 0;
  }

  .anf_personal_info { 
    transform: translateY(-50px);
    width: calc(100% - 25px); 
  }
  
  /** VENTAJAS*/
  .advantages h2, .opinions h2, .freq_questions h2 {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .advantages_container {
    margin: 0 6vw;
  }
  .advantage_text h3 {font-size: 18.5px;}
  .advantage_text p {font-size: 17px;}
  .central {
    position: relative;
    transform: translateY(-3.5vw);
  }

   /**FAQs*/
   .question_item h3 {font-size: 23px;}
   .question_item {max-width: 710px;}
   .question_content p{font-size: 18px;}

   .freq_questions button{
     font-size: 22px;
     padding: 20px 25px;
   }
}

@media (min-width:1500px){
  /*?* CARDS general */
  .general_prof { max-width: 480px;}
  .btn_conectar {
    border-radius: 8px;
    border: 2px solid #009080;
    font-size: 22px;
    padding: 15px 25px;
    margin-bottom: 18px;
  }

  /*?* CARD (ANFITRIÓN) */
  .button_container h2 {
    font-size: 45px;
  }
  .anf_info { padding: 0px 25px; }
  .house { height: 230px; }
  .profile_img { width: 150px; }

  .anf_personal_info { 
    transform: translateY(-70px);
    width: calc(100% - 25px); 
  }
  .anf_name {
    border-bottom: 1px solid #d0dbd9;
    margin: 0 20px;
    margin-bottom: 18px;
  }
  .anf_name h3, .text_column_viaj h3 { font-size: 35px; }

  .anf_rating {
    margin: 0px 10px 13px 10px; 
    padding-top: 100px;
    gap: 12%;
  }
  .anf_likes img { width: 40px; }

  .address img { width: 22px; }
  .address {
    margin-top: 20px;
    font-size: 24px;
    gap: 8px;
  }
  .description {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 18px;
  }
  .score img, .score_viajero img { width: 38px; }
  .anf_score p { font-size: 36px; }

  /*?* CARD (VIAJEROS)*/
  .viaj_prof { padding: 20px 30px;}
  .viaj_img {
    width: 163px;
    height: 163px;
  }
  .text_column_viaj p, .score_viajero p { font-size: 40px;}
  .text_column_viaj { margin: 10px 5px 10px 50px;}
  .age {
    margin-top: 15px;
    font-size: 30px;
  }

  .viaj_likes { margin : 40px 51px 40px 51px; }
  .viaj_likes img { width: 60px; }
  .btn_viaj { margin-bottom: 12px; }

  .advantages_container {margin: 0 15vw;}

   /**FAQs*/
   .question_item h3 {font-size: 25px;}
   .question_item {max-width: 810px;}
   .question_content p{font-size: 20px;}
}
