#root {
  height: 100vh;
}

body {
  margin: 0 auto;
  background-color: #e9e9e9;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('/fonts/Coco-Gothic-Regular-trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Chewy';
  src: url('/fonts/Chewy-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}