.acceso_section {
  height: 100vh;
  background-image: url("/images/registro/Bears_fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
}
.acceso_section a:hover{ text-decoration: underline;}
/*? CABECERA */
.acceso_header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #009080;
  cursor: default;
}
.acceso_header figure a{
  display: flex;
  align-items: center;
}
.acceso_header:hover a {color: #e9e3d5;}
.acceso_header a {text-decoration: none;}
.acceso_header figcaption:hover {text-decoration: underline; }
.acceso_header img {width: 60px; height: auto;}
.acceso_header figcaption {
  margin-left: 15px;
  font-family: "Coco Gothic";
  font-size: 30px;
  font-weight: bold;
  color: #e9e3d5;
}

/*? Barra de progreso*/
.progress_bar{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.progress_bar progress {
  width: 145px; 
  height: 8px; 
  appearance: none; 
}
.progress_bar progress::-webkit-progress-bar {
  background-color: #dddddd; 
  border-radius: 5px;
}
.progress_bar progress::-webkit-progress-value {
  background-color: #009080; 
  border-radius: 5px;
}
.progress_bar progress::-moz-progress-bar {
  background-color: #009080; 
  border-radius: 5px;
}
/*? ====================
/*?   Inicio de sesión 
/*? ====================*/
.acceso_container {
  font-family: "Nunito";
  position: absolute;
  top: 23%;
  right: 13%;
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0,0,0,0.8);
  width: 544px;
}

.acceso_container form {
  padding: 25px 30px 45px 30px;
  display: grid;
  gap: 20px;
}

/*? Registro (segundo paso)*/
.form_registro .name_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_registro .name_input input{
  width: 190px;
  display: grid;
}
.form_registro h2 {margin: 0;}

.acceso_container h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

/*? Registro Ultimo paso tipo de cuenta*/
.input_tipo_cuenta {
  cursor: pointer;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 3px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: background-color 0.1s ease-in-out, 
  border-color 0.1s ease-in-out, filter 0.1s ease-in-out, color 0.1s ease-in-out;
}
.input_tipo_cuenta:hover { 
  background-color: white;
  border: 2px solid rgb(133, 133, 133);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.25);
}

.input_tipo_cuenta img { 
  flex-shrink: 0;
  width: 50px;
  aspect-ratio: 1 / 1;
  filter:grayscale(1) brightness(1.5);
}

.input_tipo_cuenta h3 { 
  color: rgb(177, 177, 177);
  margin: 0px;
  font-size: 22px;
  font-weight: 800;
}
.input_tipo_cuenta p{
  font-size: 17px;
  margin: 0px;
  color: rgb(201, 201, 201);
}

.input_tipo_cuenta.active {
  background-color: #00907f28;
  border: 2px solid #009080;
  filter: none;
}
.input_tipo_cuenta.active img{filter: none;}
.input_tipo_cuenta.active h3 {color: #009080;}
.input_tipo_cuenta.active p {color: rgb(124, 124, 124);}
.input_tipo_cuenta.active p strong {
  color: rgb(83, 83, 83);
}
/*? Mensaje ERROR input*/
.input_container.error_input label { color:red;}
.input_container.error_input input {border-color: red;}
.input_container.error_input p, .error_msg {  
  font-style: italic;
  color: red;
  font-size: 17px;
  margin: 0;
}
.lastStepError {
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.295);
}
.input_container.error_input input:focus {
  outline: none;
  box-shadow: none;
  border-color: red;
}
.input_container.error_input:focus-within label,
.input_container.error_input article:focus-within label { color: red;}

.submit_input.error_submit_input {
  filter: brightness(0.8);
  cursor: not-allowed;
}

/*? Input */
.input_container { display: grid;}
.input_container, .acceso_section fieldset{
  border: none;
  padding: 0;
  margin: 0;
}
.input_container label {
  padding-left: 5px;
  padding-bottom: 3px;
  font-size: 18px;
  color: #737373;
}
.input_container input {
  background-color: white;
  caret-color: #009080;
  font-family: "Nunito";
  border: 2px solid #c2c2c2;
  border-radius: 8px;
  height: 40px;
  width: 450px;
  padding: 3px 15px;
  font-size: 23px;
}
.input_container input::placeholder {color: rgb(165, 165, 165);}
.input_container input:focus {
  outline: none;
  box-shadow: none;
  border-color: #009080;
}
.input_container:focus-within label,
.input_container article:focus-within label { color: #009080;}

.acceso_container form fieldset a {
  text-decoration: none;
  width: max-content;
  padding-left: 5px;
  padding-top: 3px;
  color: #1386fd;
  font-size: 17px;
}

/*? Input contraseña*/
.input_password {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 8px;
}
.input_password:focus { border: 2px solid red;}
.input_password img {
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.input_password input{
  width: calc(100% - 65px);
  padding-right: 50px;
}

/*? Submit */
.submit_input {
  cursor: pointer;
  font-family: "Nunito";
  background-color: #009080;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 28px;
  border-radius: 10px;
  transition: background-color 0.1s ease-in-out;
}
.submit_input:hover {filter: brightness(0.85);}

/*? Registrarse enlace */
.acceso_enlace_registro {
  display: grid;
  padding: 27px;
  padding-right: 0;
  gap: 5px;
  border-top: 2px solid lightgray;
  width: calc(100% - 27px);
}
.acceso_enlace_registro h2 { margin: 0; font-size: 25px;}
.acceso_enlace_registro a { 
  color: #1386fd; 
  font-size: 20px;
}
.acceso_enlace_registro a:hover {filter: brightness(0.6);}

@media (max-width: 1300px) {
  .acceso_container {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .acceso_container { width: 440px;}
  .acceso_container h1 { font-size: 35px;}

  .progress_bar progress {
    width: 110px;
  }

  /*? Input */
  .input_container label { font-size: 19px; }

  .input_container input {
    width: calc(100% - 25px - 15px); /* 100% - padding form - padding input*/
    font-size: 21px;
  }
  .form_registro .name_input input{
    width: 140px;
  }

  /*? Ultimo paso*/
  .input_tipo_cuenta img { width: 45px;}
  .input_tipo_cuenta h3 { font-size: 20px;  }
  .input_tipo_cuenta p{ font-size: 17px;}

}
