/*?=============================
/*?    PARTE INICIAL DEL LOGO
/*?===========================*/
.main_container {
  user-select: none;
  padding: 0 50px;
  padding-bottom: 100px;
  padding-top: 200px;  
  background-image: url("/images/landing_page/header_back.webp");
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logo_main {
  flex: 1;
  margin: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}
.logo_main img {
  width: 200px;
  height: auto;
  margin: 20px auto;
  aspect-ratio: 1 / 1;
}

.logo_main figcaption {
  font-family: "Coco Gothic";
  color: #009080;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

.main_descrpt {
  margin-top: 20px;
  font-family: "Nunito";
  color: #3c302a;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}


/*?==================================
/*? CARDS SECTIONS
/*?================================*/
.card_section {
  padding: 5.2vw 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.anf_card { background-color: #c6e2ce;}
.inq_card {background-color: #e9e3d5;}

.button_container {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 15px;
}
.button_container a {text-decoration: none;}
.button_container h2 {
  text-align: center;
  font-family: "Chewy";
  font-size: 45px;
  margin-top: 0;
}

.anf_card h2 {color: #0a7273;}
.inq_card h2 {color: #3c302a;}
.btn_alojamientos {
  color: #f6f7f8;
  background-color: #0a7273;
}

.btn_inquilinos {
  color: #f6f7f8;
  background-color: #3c302a;
}

/*?==================================
/*? BOTONES ANFITRIONES O INQUILINOS
/*?================================*/
.btn_alojamientos, .btn_inquilinos {
  margin: 0 auto;
  font-family: "Nunito";
  font-weight: 800;
  font-size: clamp(30px, 2vw, 2vw);
  border: 0;
  border-radius: 40px;
  padding: 1.3vw;
  display: block;
  width: 20vw;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.btn_alojamientos p, .btn_inquilinos p {margin: 0;}

.btn_alojamientos:hover{
  filter: brightness(1.15);
  box-shadow: 0 0 13px #23898a;
}

.btn_inquilinos:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 13px #5f4a40;
}


/*?=============================
/*?       GENERAL CARDS
/*?===========================*/
/*? SECCIONES GENERALES*/
.general_prof {
  flex: 1; 
  position: relative; /* Contenedor padre */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-family: "Nunito";
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  display: flexbox;
  cursor:default;
  width: 380px;
}
.general_prof:hover{ box-shadow: 0 0 15px rgb(77, 77, 77);}

.btn_conectar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Nunito";
  font-weight: 800;
  font-size: 20px;
  background-color: white;
  color: #009080;
  cursor: pointer;
  transition: background-color 0.2s;

  border-radius: 6px;
  border: 2px solid #009080;
  padding: 13px 20px;
  margin-bottom: 10px;
}

.btn_conectar:hover{
  background-color: #009080;
  color: white;
}

/*?=============================
/*?        ANFITRION
/*?===========================*/
.house {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  aspect-ratio: 1 / 1;
  user-select: none;
}

/*? PERFIL, NOMBRE Y GUSTOS*/
.personal_info {
  align-items: center;
  display: flex;
  padding: 0;
}

.anf_personal_info {
  align-items: end;
  position: absolute;
  transform: translateY(-50px);
  width: calc(100% - 25px);
}

.profile_img {
  background-color: white;
  height: auto;
  border-radius: 50%;
  padding: 8px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  user-select: none;
}

.anf_name {
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}
.anf_name h3, .text_column_viaj h3 {
  font-weight: 700;
  margin: 0;
}

/*? Puntuación y gustos*/
.score {
  display: flex;
  align-items: center;
  gap: 5px;
  user-select: none;
  background-color: #dfdb1838;
  border-radius: 30px;
  padding: 3px 10px;
}
.score p {
  color: rgb(58, 58, 58);
  font-family: "Nunito";
  margin: 0;
}


.anf_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.anf_likes {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.anf_likes img {
  height: auto;
  aspect-ratio: 1 / 1;
  user-select: none;
}

/*? UBICACION Y DESCRIPCIÓN*/
.address {
  display: flex;
  align-items: end;
  font-style: normal;
  line-height: 1;
  user-select: none;
}

.description { color: #737373;}


/*?=============================
/*?        VIAJEROS
/*?===========================*/
/*?FOTO E INFO*/
.text_column_viaj p {
  margin: 0;
  font-family: "Nunito";
  color: #262626;
  font-weight: 400;
}
.text_column_viaj {
  display: grid;
  justify-content: end;
  flex: 1;
  text-align: end;
  user-select: none;
}

.score_viajero {
  user-select: none;
  display: flex;
  justify-self: end;
  width: max-content;
}

/*? EDAD Y DESCRIPCIÓN*/
.age_descript_viaj {
  font-family: "Nunito";
}
.age {
  color: #262626;
  margin: 0;
  user-select: none;
}

/*? GUSTOS*/
.viaj_likes {
  display: flex;
  justify-content: space-around;
  user-select: none;
}

/*? CONECTAR */
.btn_viaj {
  display: flex;
  justify-content: center;
}


/*?=============================
/*?        VENTAJAS
/*?===========================*/
.advantages {
  position: relative;
  background-color: #c6e2ce;
  font-family: "Nunito";
  padding: 100px 0;
}

.advantages h2 {color: #0a7273;}
.advantages h2, .opinions h2 {
  margin-top: 0;
  margin-bottom: 3vw;
  font-family: "Chewy";
  font-weight:800;
  text-align: center;
  font-size: 3vw;
}

.advantages_container {
  display:grid;
  grid-template-columns: repeat(2, auto); 
  grid-template-rows: repeat(3, auto); 
  column-gap: 5vw;
  row-gap: 2vw;
  margin: 0 15vw;
}

.advantage_item img { 
  width: 4vw;
  padding: 0px 1.3vw;
}

.advantage_item {
  cursor: default;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}
.advantage_item:hover {
  box-shadow: 0 0 10px 5px rgba(0,0,0,.30);
}
.advantage_text h3 {
  color: #0a7273;
  margin: 0.26vw 0 0.26vw 0;
  font-size: 1.3vw;
}

.advantage_text p {
  color: #a6a6a6;
  margin: 0;
  font-size: 1.2vw;
  margin-bottom: 0.26vw;
}

.advantage_text {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}


/*?=============================
/*?        OPINIONES
/*?===========================*/
.opinions h2 {color: #3c302a;}
.opinions {
  background-color: #e9e3d5;
  font-family: "Nunito";
  padding: 100px 5vw calc(100px + 3.5vw) 5vw ;
}

/*? Burbuja*/
.opinions_container {
  display: flex;
  gap: 5vw;
  margin-top: 7vw;
}

.bubble_text {
  position: relative;
  background-color: #fff;
  padding: 1vw;
  color: #222;
  border-radius: 15px;
}

.bubble_text:after {
  content: "";
	display: block;
	position: absolute;
	bottom: -3.5vw;
	left: 2.2vw;
	width: 0;
	height: 0;
  border-left: 0.8vw solid transparent;
	border-right: 4vw solid transparent;
  border-top: 3.8vw solid #fff;
}

.bubble_text p {
  margin-top: 0.52vw;
  margin-bottom: 1.31vw;
  color: #737373;
  font-size: 1.1vw;
}

/*? Texto opinion*/
.prof_opinion img {width: 6vw; height: 6vw;}

.prof_opinion {
  display: flex;
  align-items: center;
}

/*? Informacion de la persona*/
.info_opinion {
  flex: 1;
  margin-left: 1vw;
}

.info_opinion h3{
  color: #3c302a;
  margin: 0px;
  padding-bottom: 7px;
  border-bottom: 4px solid #3c302a;
  font-size: 1.2vw;
  font-weight: 700;
}

.info_opinion p{
  margin-bottom: 0px;
  margin-top: 7px;
  color: #262626;
  font-size: 1.2vw;
}



/* Responsive */
@media (max-width: 1500px) {
  /** VIAJERO */
  .house { height: 160px; }
  .profile_img { width: 110px; padding: 5px; margin-left: 10px; }
  .anf_name { margin: 0 20px 10px; border-bottom: 1px solid #d0dbd9; }
  .anf_name h3, .text_column_viaj h3 { font-weight: 700; font-size: 30px; margin: 0; }
  .anf_info { padding: 0px 22px; }
  .anf_rating { margin-bottom: 15px; padding-top: 80px; gap: 15%; }
  .score img { width: 25px; margin-bottom: 5px;}
  .anf_likes img { width: 33px; margin-bottom: 5px;}
  .address img { width: 18px; }
  .address { margin-top: 15px; font-size: 20px; gap: 6px; }
  .description { font-size: 19px; margin: 8px 0 12px; }
  .anf_score p, .text_column_viaj p, .score_viajero p { font-size: 24px; }

  .viaj_prof { padding: 10px 20px; }
  .viaj_img { width: 110px; height: 110px; }
  .text_column_viaj h3 {font-size: 32px;}
  .text_column_viaj { margin: 5px 5px 5px 30px; }
  .age { margin-top: 8px; font-size: 20px; }
  .viaj_likes { margin: 20px 30px; }
  .viaj_likes img { width: 40px; }
  .btn_viaj { margin-bottom: 8px; }
}

@media (max-width: 899px) {
  /** PERFILES */
  .card_section {
    padding: 100px 38px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
  }
  .inq_card .button_container { grid-row: 1; }
  .inq_card.card_container { grid-row: 2; }

  /** OPINIONES */
  .opinions_container {
    display: grid;
    margin: 0 7vw;
    gap: 9vw;
  }
  .bubble_text { padding: 3vw; }
  .bubble_text p { font-size: 2.4vw; }
  .prof_opinion img { width: 11vw; height: 11vw; }
  .info_opinion h3, .info_opinion p { font-size: 3vw; }  
}

@media (max-width: 769px) {
  /** PERFILES*/
  .btn_alojamientos img, .btn_inquilinos img {
    width: 40px;
    height: auto;
  }
  .btn_alojamientos, .btn_inquilinos {
    padding: 15px;
    font-size: 30px;
    width: 270px;
  }

  .logo_main img { width: 170px; }
  .logo_main figcaption { font-size: 65px; }
  .main_descrpt { font-size: 40px; }
  .button_container { margin-bottom: 10%; }

  /** VENTAJAS */
  .advantages h2, .opinions h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .advantage_text h3 { font-size: 15px; }
  .advantage_text p { font-size: 14px; }
  .advantage_item img {
    width: 40px;
    padding: 0 10px;
  }
  .advantages_container {
    grid-template-columns: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media (min-width: 770px) {
  /** PERFILES */
  .button_container {
    border-radius: 15px;
    margin-bottom: 10%;
  }
  .btn_alojamientos img, .btn_inquilinos img {
    width: 40px;
    height: auto;
  }
  .btn_alojamientos, .btn_inquilinos {
    width: 300px;
    font-size: 35px;
    padding: 17px;
    margin-bottom: 5px;
    gap: 15px;
  }
}

@media (min-width: 770px) and (max-width: 899px) {
  /** MAIN */
  .logo_main img { width: 180px; }
  .advantages h2, .opinions h2 { font-size: 45px; margin-bottom: 40px; }
  .advantages_container { margin: 0 5vw; }
  .advantage_text h3 { font-size: 1.7vw; }
  .advantage_text p { font-size: 1.5vw; }

  /** OPNIONES */
  .bubble_text { margin: 0 9vw; }
  .bubble_text p { font-size: 18px; }
  .prof_opinion img { width: 90px; height: 90px; }
  .info_opinion h3, .info_opinion p { font-size: 20px; }
}

@media (min-width: 900px) {
  /** PERFILES Y VENTAJAS */
  .button_container { margin-bottom: 0; }
  .advantages h2, .opinions h2 { font-size: 45px; margin-bottom: 40px; }
  .advantages_container { margin: 0 6vw; }
  .advantage_text h3 { font-size: 21px; }
  .advantage_text p { font-size: 19px; }
  .central { position: relative; transform: translateY(-3.5vw); } 
}

@media (max-width: 1110px) {
  /** PERFILES */
  .advantage_text h3 { font-size: 16px; }
  .advantage_text p { font-size: 15px; }
}

@media (min-width: 1500px) {
  /** PERFILES */
  .general_prof { width: 480px; }
  .btn_conectar {
    border-radius: 8px;
    font-size: 22px;
    padding: 15px 25px;
    margin-bottom: 18px;
  }

  .house { height: 230px; }
  .profile_img { width: 150px; }

  .anf_personal_info {
    transform: translateY(-70px);
    width: calc(100% - 25px);
  }
  .anf_info { padding: 0px 25px; }

  .anf_name { margin: 0 20px 30px; border-bottom: 1px solid #d0dbd9; }
  .anf_name h3, .text_column_viaj h3 { font-size: 35px; }

  .anf_rating { margin-bottom: 13px; padding-top: 100px; gap: 12%; }
  .anf_likes img { width: 40px; }
  .address img { width: 22px; }
  .address { margin-top: 20px; font-size: 24px; gap: 8px; }
  .description { font-size: 24px; margin: 12px 0 18px; }
  .score img { width: 27px; margin-bottom: 3px;}
  .anf_score p, .text_column_viaj p, .score_viajero p { font-size: 30px; }

  .viaj_prof { padding: 20px 30px; }
  .viaj_img { width: 163px; height: 163px; }
  .text_column_viaj h3 {font-size: 40px;}

  .text_column_viaj { margin: 10px 5px 10px 50px; }
  .age { margin-top: 15px; font-size: 30px; }
  .viaj_likes { margin: 40px 51px; }
  .viaj_likes img { width: 60px; }
  .btn_viaj { margin-bottom: 12px; }

  /** VENTAJAS */
  .advantages_container { margin: 0 15vw; }
}