.container {
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  font-family: "Nunito";
}
.container h2 { text-align: center;}
.container h2 span {text-transform: uppercase;}

.table_container {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
  max-width: 90vw;
  overflow-x: auto;
}

.table_container a {
  text-decoration: none;
  color: #0044ff;
}
.table_container a:hover {text-decoration: underline;}

.container table {
  width: 100% ;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
}

.container table th { 
  padding: 10px;   
  text-align: center;
}

.container table, .container th, .container td { border: 1px solid #c2c2c2;}
.container table thead tr, .container table tbody tr:nth-child(even) {background-color: rgb(243, 243, 243);}

.container table tr td{ 
  padding: 10px;
  font-size: 15px;
  text-wrap: nowrap;
  text-align: center;
}
.container table tbody tr:nth-child(odd){ background-color: #e2e2e2;}
.container table tbody tr:hover { 
  outline: 1px solid black;
  background-color: #00ff9521;
}

.button_list {
  user-select: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 15px;
}

.button_list img {
  cursor: pointer;
  width: 43px;
  padding: 2px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.button_list .link_list {
  font-size: 20px;
  width: max-content;
  font-weight:600;
  text-decoration: none;
  color: white;
  background-color: #3767eb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px;
}

.button_list .link_list:hover, .button_list img:hover { filter: brightness(0.9);}

.img_td {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px; 
  gap: 20px;
}
.container .img_td a{ 
  font-size: 0px;
  border: none;
}

.container .img_td img {
  user-select: none;
  cursor: pointer;
  width: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 50%; 
  border: none;
}

.container .img_td img:nth-child(1):hover {
  outline: 10px solid rgba(114, 203, 255, 0.39);
  background-color: rgba(114, 203, 255, 0.39);
}
.container .img_td img:nth-child(2):hover, .container .img_td.delete img:hover {
  outline: 10px solid rgba(255, 114, 114, 0.39);
  background-color: rgba(255, 114, 114, 0.39);
}
