.home {
  background-color: rgb(24, 24, 24);
  width: 50px;
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.home:hover {
  filter: brightness(0.8);
}
.soporteMain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  font-family: "Nunito";
  box-shadow: 0 0 5px #3767eb3f;
}

.error_login {
  margin: 0;
  text-align: center;
  color: rgb(199, 53, 53);
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-weight: 650;
  background-color: rgba(255, 0, 0, 0.199);
}

.soporteForm {
  display: grid;
  gap: 0px;
  width: 400px;
}

.soporteMain h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.soporteForm label {
  display: block;
  margin: 0px 0 5px 5px;
  font-weight: 600;
  color: #555;
}

.soporteForm input {
  font-family: "Nunito";
  width: calc(100% - 30px);
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #888888;
  border-radius: 8px;
  font-size: 1rem;
}

.soporteForm input:focus {
  outline: none;
  outline: 1px solid #3767eb;
  border-color: #3767eb;
  resize: vertical;
}

.soporteForm button {
  font-family: "Nunito";
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #3767eb;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.soporteForm button:hover {
  filter: brightness(0.8);
}