.general_prof {
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: "Nunito";
  background: white;
  border-radius: 12px;
  margin: 0 auto;
  transition: box-shadow 0.1s ease-in-out;
  cursor: default;
  width: 320px;  
}

.general_prof:hover { 
  outline: 2px solid #009080;
}


.btn_conectar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Nunito";
  font-weight: 800;
  background: white;
  color: #009080;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5.2px;
  border: 2px solid #009080;
  font-size: 14.08px;
  padding: 9.6px 16px;
  margin-bottom: 11.52px;
}

.btn_conectar:hover {  
  background: #009080; 
  color: white; 
}

.house {
  width: 100%;
  height: 147.2px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  aspect-ratio: 1 / 1;
  user-select: none;
}

.personal_info { 
  align-items: end; 
  display: flex; 
  padding: 0; 
}

.anf_personal_info {
  position: absolute;
  transform: translate(-8px, -44.8px);
  width: calc(100% - 16px);
}
.anf_info { padding: 0 18px; }

.viaj_prof {  padding: 25px 25px 11px 25px;}
.profile_img {
  padding: 4px;
  background: white;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  user-select: none;
  width: 96px;
}

.anf_name {
  flex-grow: 1;
  border-bottom: 1px solid #d0dbd9;
  margin: 0 16px 19px;
  
}
.anf_name h3, .text_column_viaj h3 {
  font-weight: 700;
  margin: 0;
  font-size: 22.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.anf_name h3 {
  text-align: center;
  max-width: calc(304px - 104px - 44px); /* Container - foto usuario - margin*/
}
.text_column_viaj h3{
  text-align: end;
  max-width: calc(400px - 118px - 32px); /* Container - foto usuario - margin*/
}

.score, .score_viajero {
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 10px;
  background-color: #dfdb1838;
  border-radius: 30px;
}
.score img { width: 22px; margin-bottom: 3px;}

.anf_score p { 
  color: rgb(63, 63, 63);
  margin: 0;
  font-size: 22px; 
}

.anf_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6.4px 8.32px;
  padding-top: 68px;
  gap: 7.68%;
}

.anf_likes {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.anf_likes img {
  width: 30px;
  height: auto;
  aspect-ratio: 1 / 1;
  user-select: none;
}

.address {
  display: flex;
  align-items: end;
  font-style: normal;
  line-height: 1;
  margin-top: 12.8px;
  font-size: 15.36px;
  gap: 5.12px;
}
.address img { width: 14.08px; }

.description {
  color: #737373;
  font-size: 15.36px;
  margin: 7.68px 0 11.52px;
}

.text_column_viaj p {
  margin: 0;
  font-family: "Nunito";
  color: #262626;
  font-weight: 400;
  font-size: 25.6px;
}
.text_column_viaj {
  display: grid;
  gap: 5px;
  justify-content: end;
  flex: 1;
  text-align: end;
  user-select: none;
  margin: 6.4px 3.2px 6.4px 32px;
}

.score_viajero { 
  width: max-content;
  justify-content: end;
  margin-left: auto;
}
.score_viajero p {
  font-style: italic;
  font-family: "Nunito";
  line-height: 0;
  font-size: 22px;
}

.age_descript_viaj { font-family: "Nunito"; }
.age {
  color: #262626;
  margin: 9.6px 0 0;
  font-size: 19.2px;
}

.viaj_likes {
  display: flex;
  justify-content: space-around;
  user-select: none;
  margin: 25.6px 32.64px;
}
.viaj_likes img { width: 38.4px; }

.btn_viaj {
  display: flex;
  justify-content: center;
  margin-bottom: 7.68px;
}

@media (max-width: 815px), (min-width: 1200px) {
  .general_prof {  
    border-radius: 14px;
    width: 400px;
  }

  .viaj_prof {  width: 360px;}
  .btn_conectar { 
    border-radius: 6px; 
    font-size: 18px; 
    padding: 12px 20px; 
    margin-bottom: 14px; 
  }
  .house {
    height: 180px;
    border-radius: 14px 14px 0 0;
  }  
  .anf_personal_info { transform: translate(-10px, -50px); }
  .anf_info { padding: 0 20px; }
  .profile_img { width: 110px; }
  .anf_name { margin: 0 20px 20px; }
  .anf_name h3, .text_column_viaj h3 { font-size: 28px; }
  .anf_name h3 {
    max-width: calc(384px - 118px - 40px); /* Container - foto usuario - margin*/
  }
  .text_column_viaj h3{
    max-width: calc(400px - 118px - 44px); /* Container - foto usuario - margin */
  }

  .score img, .score_viajero img { width: 25px; margin-bottom: 3px;}
  .anf_score p { font-size: 26px; }
  
  .anf_rating {
    margin: 0 8px 10px;
    padding-top: 80px;
    gap: 40px;
  }  
  .anf_likes img { width: 35px; }
  .address {
    margin-top: 20px;
    font-size: 20px;
    gap: 6px;
  }  
  .address img { width: 17px; }
  .description {
    font-size: 19px;
    margin: 10px 0 16px;
  }  
  .viaj_prof .description {font-size: 21px;}
  .text_column_viaj p { font-size: 25px; }
  .text_column_viaj { margin: 8px 4px 8px 40px; }
  .score_viajero p { font-size: 25px; }
  .age {
    font-size: 23px;
    margin: 14px 0 0;
  }  
  .viaj_likes { margin: 30px auto; }
  .viaj_likes img { width: 50px; }
  .btn_viaj { margin-bottom: 10px; }
}
