.general_prof {
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: "Nunito";
  background: white;
  border-radius: 12px;
  margin: 0 auto;
  transition: box-shadow 0.1s ease-in-out;
  cursor: default;
  width: 320px;  
}

.anf_link {color: black;}

.general_prof:hover { 
  box-shadow: 0 0 10px #00000062;
}

.btn_conectar:not(.viaj_prof .btn_conectar) {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
}

.btn_conectar {
  user-select: none;
  font-family: "Nunito";
  font-weight: 800;
  background: white;
  color: #009080;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 50px; 
  border: 2px solid #009080;
  font-size: 20px;
  padding: 10px 31px;
}

.btn_conectar:hover:not(.conectado) {  
  background: #009080; 
  color: white; 
}

.conectado {
  user-select: none;
  border-radius: 50px; 
  padding: 10px 60px;
  width: 160px;
  cursor: default;
  background-color: #ff5757;
  border-color: #ff5757;
  color: white;
}
.conectado  {
  width: 30px;
  aspect-ratio: 1 / 1;
}
.anf_conectado {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.house {
  width: 100%;
  height: 147.2px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  aspect-ratio: 1 / 1;
  user-select: none;
}
.house:hover{filter: brightness(0.7)}
.personal_info { 
  align-items: end; 
  display: flex; 
  padding: 0; 
}

.anf_personal_info {
  position: absolute;
  transform: translate(-8px, -44.8px);
  width: calc(100% - 16px);
}
.anf_info { padding: 0 18px; }

.viaj_prof {  padding: 25px 25px 11px 25px;}
.profile_img {
  padding: 4px;
  background: white;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  user-select: none;
  width: 96px;
}
.viaj_img {padding: 0;}

.anf_personal_info:hover .profile_img, .personal_info a:hover .profile_img{
  filter: brightness(0.7);

}
.viaj_prof .profile_img:hover{
  outline-offset: 0px;

}
.anf_name {
  flex-grow: 1;
  border-bottom: 1px solid #d0dbd9;
  margin: 0 16px 19px;
  
}
.anf_name h3, .text_column_viaj h3 {
  font-weight: 700;
  margin: 0;
  font-size: 22.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.anf_name h3 {
  text-align: center;
  max-width: calc(304px - 104px - 44px); /* Container - foto usuario - margin*/
}
.text_column_viaj h3{
  text-align: end;
  max-width: calc(400px - 118px - 32px); /* Container - foto usuario - margin*/
}

.score, .score_viajero {
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 10px;
  background-color: #dfdb1838;
  border-radius: 30px;
}
.score img { width: 22px; margin-bottom: 3px;}

.anf_score p { 
  color: rgb(63, 63, 63);
  margin: 0;
  font-size: 22px; 
}

.anf_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.32px;
  padding-top: 68px;
  gap: 18px;
}

.anf_likes {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.anf_likes img {
  width: 30px;
  height: auto;
  aspect-ratio: 1 / 1;
  user-select: none;
}

.address {
  display: flex;
  align-items: start;
  font-style: normal;
  line-height: 1;
  margin-top: 12.8px;
  font-size: 15.36px;
  gap: 5.12px;
}
.address img { width: 14.08px;}
.address span { line-height: 1.3; margin-top: 0.5px;}
.description {
  color: #737373;
  font-size: 15.36px;
  margin: 4px 0 15px;
}
.viaj_prof .description {
  font-size: 17.5px;
}
.text_column_viaj p {
  margin: 0;
  font-family: "Nunito";
  color: #262626;
  font-weight: 400;
  font-size: 25.6px;
}
.text_column_viaj {
  display: grid;
  gap: 5px;
  justify-content: end;
  flex: 1;
  text-align: end;
  user-select: none;
  margin: 6.4px 3.2px 6.4px 32px;
}

.score_viajero { 
  width: max-content;
  justify-content: end;
  margin-left: auto;
}
.score_viajero p {
  font-family: "Nunito";
  line-height: 0;
  font-size: 22px;
}

.age_descript_viaj { font-family: "Nunito"; }
.age {
  color: #262626;
  margin: 9.6px 0 0;
  font-size: 19.2px;
}

.viaj_likes {
  display: flex;
  justify-content: space-around;
  user-select: none;
  margin: 25.6px 32.64px;
}
.viaj_likes img { width: 38.4px; }

.btn_viaj {
  display: flex;
  justify-content: center;
  margin-bottom: 7.68px;
}

/*? Estancia del viajero*/
.conectar_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.estancia_viaj { display: grid;}

.estancia_viaj p{
  text-align: center;
  margin: 0;
  font-weight: 750;
  color: #545454;
  font-style: italic;
}

.estancia_viaj progress {
  width: 120px; 
  height: 17px; 
  appearance: none;
  margin-top: 10px;
}
.estancia_viaj progress::-webkit-progress-bar {
  border: 1px solid #a6a6a6;
  background-color: #dbdbdb; 
  border-radius: 10px;
}
.estancia_viaj progress::-webkit-progress-value {
  background-color: #545454; 
  border-radius: 10px;
}
.estancia_viaj progress::-moz-progress-bar {
  background-color: #545454; 
  border-radius: 10px;
}

@media (max-width: 815px), (min-width: 1200px) {
  .general_prof {  
    border-radius: 14px;
    width: 400px;
  }

  .viaj_prof {  width: 360px;}
  .btn_conectar { 
    font-size: 20px; 
    padding: 12px 35px; 
   
  }
  .btn_conectar:not(.viaj_prof .btn_conectar) { margin-bottom: 20px; }
  .house {
    height: 180px;
    border-radius: 14px 14px 0 0;
    aspect-ratio: 1 / 1;
  }  
  .anf_personal_info { transform: translate(-10px, -50px); }
  .anf_info { padding: 0 20px; }
  .profile_img { width: 110px; }
  .anf_name { margin: 0 20px 20px; }
  .anf_name h3, .text_column_viaj h3 { font-size: 28px; }
  .anf_name h3 {
    max-width: calc(384px - 118px - 40px); /* Container - foto usuario - margin*/
  }
  .text_column_viaj h3{
    max-width: calc(400px - 118px - 44px); /* Container - foto usuario - margin */
  }

  .score img, .score_viajero img { width: 25px; margin-bottom: 3px;}
  .anf_score p { font-size: 26px; }
  
  .anf_rating {
    margin-bottom: 10px;
    padding-top: 80px;
    gap: 20px;
  }  
  .anf_likes img { width: 35px; }
  .address {
    margin-top: 20px;
    font-size: 20px;
    gap: 6px;
  }  
  .address img { width: 17px; }
  .description {
    font-size: 19px;
    margin: 10px 0 16px;
  }  
  .viaj_prof .description {font-size: 21px;}
  .text_column_viaj p { font-size: 25px; }
  .text_column_viaj { margin: 8px 4px 8px 40px; }
  .score_viajero p { font-size: 25px; }
  .age {
    font-size: 23px;
    margin: 14px 0 0;
  }  
  .viaj_likes { margin: 30px auto; }
  .viaj_likes img { width: 50px; }
  .btn_viaj { margin-bottom: 10px; }

  .estancia_viaj progress {
    width: 140px; 
    height: 20px; 
  }

  .anf_conectado {padding-bottom: 20px;}
}
