.filters_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.filters {
  position: relative;
  width: fit-content;
  margin: 0 50px;
  font-family: "Nunito";
  user-select: none;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #0a7273;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
} 
.filters:hover{ 
  filter: brightness(0.85);
  box-shadow: 0 0 5px rgba(124, 124, 124, 0.705);
}
.filters img {width: 35px;}
.filters span{
  letter-spacing: 1px;
  font-size: 27px;
  color: white;
  font-weight: 500;
}

.filters_active {
  outline: 3px solid black;
}
.filters p {
  font-size: 18px;
  position: absolute;
  padding: 5px 12px;
  background-color: black;
  color: white;
  border-radius: 50px;
  right: -10px;
  top: -33px;
}