/*? DIALOG PARA ELIMINAR UNA RECOMENDACION O EXPERIENCIA*/
body:has(.modal[open]) {
  overflow: hidden;
  pointer-events: none;
}

.modal::-webkit-scrollbar { width: 15px;}
.modal::-webkit-scrollbar-button { padding: 5px;}
.modal::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 15px;
}
.modal::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 15px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
}

.modal:focus { outline: none;}
.modal {
  overflow: none;
  user-select: none;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  background: white;
  width: fit-content;
  pointer-events: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation: aparecer 0.25s ease-in-out forwards;
}

@keyframes aparecer {
  0% {opacity: 0; transform: translateY(-120px);}
  100% {opacity: 1; transform: translateY(0px);}
}

.modal h1 {
  margin: 20px !important;
  padding: 0 !important;
  text-align: center;
  font-family: "Nunito";
  border-bottom: none !important;
}

.modal .user_img {
  width: 130px;
  cursor: default !important;
  margin: 30px auto !important;
  display: flex;
  align-items: center;
}

.modal div {
  display: flex;
  justify-content: space-around;
}

.modal button:focus{
  outline: none;
}
.modal button {
  font-family: "Nunito";
  border-radius: 50px;
  cursor: pointer;

  border: 2px solid;
  width: 170px;
  font-weight: 700;
  font-size: 18px;
  padding: 12px;
  transition: all 0.1s ease-in-out;
}
.modal button:nth-child(2):hover {filter: brightness(0.7);}
.modal button:nth-child(1) {
  background-color: transparent;
  border-color: #d12e2e;
  color: #d12e2e;
}
.modal button:nth-child(1):hover{ 
  filter: none;
  color: white;
  background-color: #d12e2e;
}
.modal button:nth-child(2) {
  border-color: #0a7273;
  background-color: #0a7273;
  color: white;
}


.recomendaciones_main h1,
.add_recomendacion p,
.recomendaciones_container li h3,
.recomendaciones_container li p {
  margin: 0;
}

.recomendaciones_main {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(65, 65, 65, 0.3);
  padding: 0 30px;
}

/*? TITULO*/
.recomendaciones_main h1 {
  color: #0a7273;
  font-size: 27px;
  padding: 30px 0;
  border-bottom: 2px solid lightgray;
}

/*? CONTENEDOR RECOMENDACIONES*/
.action_imgs{
  user-select: none;
  display: flex;
  gap: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.action_imgs img {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  width: 30px;
  padding: 3px;
  border-radius: 10px;
}
.action_imgs img:nth-child(1){
  box-shadow: 0 0 7px rgba(6, 114, 255, 0.712);
  background-color: white;
}

.action_imgs img:nth-child(2){
  box-shadow: 0 0 7px rgba(255, 0, 0, 0.712);
  background-color: #ff5757;
}
.action_imgs img:hover {filter: brightness(0.7);}

.recomendaciones_container {
  padding: 0;
  margin: 25px 0;
  display: grid;
  gap: 30px;
  font-family: "Nunito";
}

.recomendaciones_container li { position: relative;}
.recomendaciones_container li:not(.add_recomendacion) {
  border-radius: 5px;
  list-style: none;
  padding: 15px;
  background-color: rgba(238, 238, 238, 0.322);
  box-shadow: 0 0 5px rgba(65, 65, 65, 0.4);
}

.recomendaciones_container li:nth-child(even):not(.add_recomendacion) {
  background-color: rgb(210, 234, 248);
  box-shadow: 8px 8px rgb(175, 205, 223);
}

.recomendaciones_container li:nth-child(odd):not(.add_recomendacion) {
  background-color: rgb(253, 253, 216); 
  box-shadow: 8px 8px rgb(212, 212, 192);
}

.recomendaciones_container li:not(.add_recomendacion) p:not(.logos_recomendations p) {
  margin: 0;
  font-size: 19px;
  font-weight: 350;
  color: #696969;
  margin-bottom: 30px;
  margin-top: 10px;
}

.recomendaciones_container li:not(.add_recomendacion) h3 {
  font-size: 20px;
  margin-right: 110px;
}

.logos_recomendations {
  display: flex;
  align-items: start;
  gap: 10px;

}

.logos_recomendations:not(:last-child) {
  margin-bottom: 15px;
}

.logos_recomendations img {
  user-select: none;
  width: 25px;
  aspect-ratio: 1 / 1;
}

.logos_recomendations p {
  color: black;
  font-size: 18px;
}

/*? ANIADIR RECOMENDACION*/
.add_recomendacion {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding: 15px;
  gap: 15px;
  border: 2px solid black;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.251);
  transition: all 0.1s ease-in-out;
}

.add_recomendacion:hover {
  background-color: #0a7273;
  border-color: #0a7273;
  box-shadow: 8px 8px #0a71734f;
}

.add_recomendacion:hover p {
  color: white;
}

.add_recomendacion:hover img {
  filter: invert(1) grayscale(1) brightness(2);
}

.add_recomendacion img {
  width: 35px;
  aspect-ratio: 1 / 1;
  filter: grayscale(1) brightness(0);
}

.add_recomendacion p {
  color: black;
  font-weight: 700;
  font-size: 24px;
}

@media (min-width: 780px) {
  .recomendaciones_main h1 {
    font-size: 30px;
  }

  /*? Recomendacion container*/
  .recomendaciones_container li:not(.add_recomendacion) p:not(.logos_recomendations p) {
    font-size: 20px;
  }

  .recomendaciones_container li:not(.add_recomendacion) h3 {
    font-size: 21px;
  }

  .logos_recomendations p {
    font-size: 19px;
  }
}